/* Character Animation Styles */
.character {
    position: fixed;
    width: 120px;
    height: 120px;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
}

.character img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes runAcross {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.character.running {
    animation: runAcross linear;
}

.character.flip {
    transform: scaleX(-1);
}
